<div class="container"
     fxLayout="row"
     fxLayoutAlign="center center">

  <div class="content"
       fxLayout="column"
       fxLayoutAlign="center center">
    <form [formGroup]="form"
          fxLayout="row wrap">

      <app-input-element title="width"
                         formControlName="width"
                         placeholder="width"
                         label="width"
                         (inputValue)="updateParametersValues()"></app-input-element>
      <app-input-element title="height"
                         formControlName="height"
                         placeholder="height"
                         label="height"
                         (inputValue)="updateParametersValues()"></app-input-element>
      <app-input-element title="title"
                         fxFlex="100"
                         formControlName="title"
                         placeholder="title"
                         label="title"
                         (inputValue)="updateParametersValues()"></app-input-element>

      <app-color-picker formControlName="titleBackgroundColor"
                        (colorChange)="render()"></app-color-picker>
    </form>

    <canvas #bannerCanvas
            [width]="widthValue"
            [height]="heightValue"></canvas>
  </div>

</div>
