<div class="container"
     fxLayout="row"
     fxLayoutAlign="center center">

  <div class="content"
       fxLayout="column"
       fxFlex="80"
       fxLayoutAlign="center center">

    <canvas #bannerCanvas
            (mousedown)="onClickDown($event)"
            (mouseup)="onClickUp($event)"
            (mousemove)="onMouseMove($event)"
            [width]="widthValue"
            [height]="heightValue"></canvas>

    <form [formGroup]="form"
          fxLayout="row wrap">

      <app-input-element title="width"
                         formControlName="width"
                         placeholder="width"
                         label="width"
                         (inputValue)="updateParametersValues()"></app-input-element>
      <app-input-element title="height"
                         formControlName="height"
                         placeholder="height"
                         label="height"
                         (inputValue)="updateParametersValues()"></app-input-element>
      <input type="number"
             (change)="refreshBackground()"
             formControlName="matrixFontSize"
             value="0">

      <button (click)="refreshBackground()">refresh background</button>
      <button (click)="createText()">New text</button>

      <ng-container formArrayName="texts">
        <div *ngFor="let group of (texts?.controls || []); index as i"
             [formGroup]="group"
             fxFlex="100"
             fxLayout="row wrap">
          <app-textarea-element title="title"
                                fxFlex="100"
                                formControlName="title"
                                placeholder="title"
                                label="title"
                                (inputValue)="renderText(i)"></app-textarea-element>
          <app-color-picker formControlName="titleBackgroundColor"
                            titleText="title background"
                            (colorChange)="renderText(i)"></app-color-picker>
          <app-color-picker formControlName="titleTextColor"
                            titleText="title color"
                            (colorChange)="renderText(i)"></app-color-picker>
          <input type="number"
                 (change)="textSizeChange(group.get('titleSize').value, group.get('id').value)"
                 formControlName="titleSize"
                 value="0">
          <button (click)="removeText(group.get('id').value)">remove</button>
        </div>
      </ng-container>
    </form>

  </div>

</div>
